<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties resource="config.properties"/>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mappers/CompanyMapper.xml"/>
        <mapper resource="mappers/EmployeeMapper.xml"/>
        <mapper resource="mappers/BuildingMapper.xml"/>
        <mapper resource="mappers/BuildingTypeMapper.xml"/>
        <mapper resource="mappers/BuildingApprovalMapper.xml"/>
        <mapper resource="mappers/CostEstimateMapper.xml"/>
        <mapper resource="mappers/MaterialTypeMapper.xml"/>
        <mapper resource="mappers/MaterialMapper.xml"/>
        <mapper resource="mappers/SalaryMapper.xml"/>
        <mapper resource="mappers/PositionMapper.xml"/>
        <mapper resource="mappers/PaymentMapper.xml"/>
        <mapper resource="mappers/CustomerMapper.xml"/>
    </mappers>
</configuration>